body {
	font-family: Arial, sans-serif;
	text-align: center;
	margin: 0; /* Remove default body margin */
	padding: 0; /* Remove default body padding */
}

.backgroundimg {  /* Create a common class for the background image*/
  background-image: url("grain with bg.jpg");
  background-size: cover; /* Set the background image to cover the container */
  background-position: center; /* Center the background image horizontally and vertically */
  padding-top: 500px;
  padding-bottom: 500px;
  padding-left: 100px;
  padding-right: 100px;
}

nav {
	background: #F8F8FF;
}

nav ul {
	float: left;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 50px;
	margin: 0 10px;
}

nav ul li a {
	color: white;
	font-size: 25px;
	text-transform: uppercase;
	font-family: "Arial Black", sans-serif; /* Use "Optician Sans" font for the navigation bar links */
	text-decoration: none;
}

a.active, a:hover {
	background: #1b9bff;
	transition: .5s;
}

h1 {
	color: #F8F8FF;
	font-size: 50px;
}

h2 {
	color: #F8F8FF;
}

p {
	color: #F8F8FF;
}


/* Custom style for the home page section */
.content-home {
  font-family: "Arial Black", sans-serif;
  position: fixed; /* Fix the position of the container */
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the content both vertically and horizontally */
}

/* Custom style for the about section */
.content-about {
	font-family: "Arial Black", sans-serif;
	position: fixed; /* Fix the position of the container */
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the content both vertically and horizontally */
}
